.login__link {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 0;
  margin: 0;
  transition: 0.3s;
  text-decoration: none;
}

.login__link:hover {
  cursor: pointer;
  opacity: 0.6;
}
