.popup__input {
  margin-top: 49px;
  padding: 0;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
}

.popup__input:last-of-type {
  margin-top: 29px;
}

.popup__input:focus {
  background-color: rgba(0, 0, 0, 0.05);
} 

@media screen and (max-width: 520px) {
  .popup__input {
    margin-top: 75px;
    padding-bottom: 9px;
  }

  .popup__input:last-of-type {
    margin-top: 28px;
  }
}
