.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 358px;
  min-height: 429px;
  padding: 0;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 485px){
  .login {
    width: 100%;
    margin: 0 11px;
  }
}
