.profile {
  max-width: 100%;
  display: grid;
  grid-template-columns: fit-content(120px) fit-content(336px) 1fr;
  grid-template-rows: minmax(min-content, max-content);
  grid-gap: 0 30px;
  margin: 0;
  padding: 40px 0 0;
}

@media screen and (max-width: 770px) {
  .profile {
    padding: 42px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    max-width: 282px;
    grid-template-columns: minmax(260px, 282px);
    justify-items: center;
    margin: 0 auto;
  }
}
