.card {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  transition: box-shadow 0.3s ease;
  position: relative;
}

@media screen and (max-width: 700px) {
  .card {
    width: 340px;
    height: 419px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 282px;
    height: 361px;
  }
}
