.profile__info {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
}

@media screen and (max-width: 570px) {
  .profile__info {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .profile__info {
    grid-area: 2 / 1 / 3 / 2;
    padding: 26px 0 0;
    width: 100%;
  }
}
